/* Добавить footer
Footer должен быть зафиксирован внизу страницы, если контента на странице мало.
Если контента в main много, footer должен "уходить вниз" вместе с содержимым страницы.

Адаптивность на разных ширинах окна
Убедитесь, что сайт корректно работает и верстка не "съезжает" на следующих ширинах:
430px (например, iPhone 14 Pro Max).
768px (например, iPad Mini).
Используйте media queries, чтобы на указанных ширинах менялась верстка (например, структура, размеры элементов, шрифты и т.д.).

Подключение шрифтов
Добавьте шрифты, которые подходят по стилю.

Добавить favicon
Создайте или найдите подходящий favicon и подключите его к сайту. */

@font-face {
  font-family: "Matrix";
  src: url("./fonts/Lunar\ Escape.otf");
}

body {
  font-family: "Matrix", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-image: url(./images/GwENbByC.png);
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  place-items: center;
  flex: 1;
  color: white;
}

main a {
  color: white;
  text-decoration: none;
}

.work {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(105, 102, 102, 0.2);
  border-radius: 15px;
  padding: 15px;
  transition: transform 0.4s ease;
}

.work h1 {
  text-align: center;
}

footer {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.left:hover {
  color: rgb(179, 42, 42);
  transform: scale(1.1);
}

.left a:hover {
  text-decoration: underline;
  color: rgb(179, 42, 42);
}

.right:hover {
  color: rgb(42, 101, 179);
  transform: scale(1.1);
}

.right a:hover {
  text-decoration: underline;
  color: rgb(42, 101, 179);
}

@media (max-width: 430px) {
  .work {
    background-color: rgba(105, 102, 102, 0.4);
  }

  footer {
    color: white;
  }
}

@media (max-width: 768px) {
  .left {
    color: rgb(179, 42, 42);
  }

  .right {
    color: rgb(42, 101, 179);
  }
}
