
.main{
    display: flex;
    gap: 50px;    
    justify-content: center;
    width: 50%;
}

.work{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

a{
    color: black;
}

/* стили с псевдоклассом hover, применяются к элементу при наведении на него мышкой */
a:hover{
    text-decoration: underline;
    color: blueviolet;
}