
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Bsodwindows10.png/1280px-Bsodwindows10.png);
    background-size: cover;
    font-family: "Roboto";
}

.main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 100px;    
    justify-content: center;
     margin-left: 400px;
    
}

.work{
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
}

a{
    color: white;
}

h1{
    color: white;
}

/* стили с псевдоклассом hover, применяются к элементу при наведении на него мышкой */
a:hover{
    text-decoration: underline;
    color: blueviolet;
}