*{
    padding: 0px;
    margin: 0px;
}

body{
    display: flex;
    flex-wrap: wrap;    
}



.character-info{
    width: 330px;
    margin: 15px 20px;   
    display: flex;
    flex-direction: column;   
    border: 1px dotted;
    
}

.character-text{
    display: flex;
    flex-direction: column;    
    padding: 5px 25px;
    background-color:rgb(204, 212, 129);    
}