@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

body {
  background-image: url(./images/tekstura-drakon-polosy-chernyy.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Silkscreen";
}

header img {
  width: 100%; /* Изображение занимает всю ширину контейнера */
  height: auto; /* Сохраняет пропорции */
  object-fit: cover; /* Масштабирует изображение, чтобы оно заполнило контейнер */
  display: block; /* Убирает возможные пробелы под изображением */
}

.mk-gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.mk-card-background {
  position: relative;
  background-image: url(./images/Mortal_Kombat-logo-1CE5FDB2CD-seeklogo.com.png);
  background-size: cover;
  background-position: center;
}

.mk-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

.mk-card > p,
h2 {
  max-width: 195px;
  background-color: rgba(255, 255, 255, 0.55);
  border-radius: 10px;
}

a{
  text-decoration: none;
  color: black;
}
